<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- دسترسی اینترنت -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- اجازه نمایش Notification در Android 13 به بالا -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- اجازه تنظیم Alarm برای یادآوری اقساط -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:label="مدیریت اقساط"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- صفحه اصلی برنامه -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- دریافت Alarm و ارسال یادآوری قسط -->
        <receiver
            android:name=".NotificationReceiver"
            android:exported="false" />

    </application>

</manifest>
